<div class="border-base-200 flex w-full items-stretch justify-center gap-6 p-6 rounded-2xl border xl:h-[40rem] xl:justify-normal" style="--tw-border-opacity:1">
  <div class="hidden flex-col gap-6 xl:flex">
    <div class="flex gap-6">
      <div class="rounded-box bg-base-200 h-full motion-reduce:!opacity-100" style="opacity:1">
        <ul class="menu">
          <li class="menu-title"><svg width="20" height="20" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18 6H8C6.89543 6 6 6.89543 6 8V18C6 19.1046 6.89543 20 8 20H18C19.1046 20 20 19.1046 20 18V8C20 6.89543 19.1046 6 18 6Z" fill="none" stroke="currentColor" stroke-width="3" stroke-linejoin="round"></path><path d="M18 28H8C6.89543 28 6 28.8954 6 30V40C6 41.1046 6.89543 42 8 42H18C19.1046 42 20 41.1046 20 40V30C20 28.8954 19.1046 28 18 28Z" fill="none" stroke="currentColor" stroke-width="3" stroke-linejoin="round"></path><path d="M40 6H30C28.8954 6 28 6.89543 28 8V18C28 19.1046 28.8954 20 30 20H40C41.1046 20 42 19.1046 42 18V8C42 6.89543 41.1046 6 40 6Z" fill="none" stroke="currentColor" stroke-width="3" stroke-linejoin="round"></path><path d="M40 28H30C28.8954 28 28 28.8954 28 30V40C28 41.1046 28.8954 42 30 42H40C41.1046 42 42 41.1046 42 40V30C42 28.8954 41.1046 28 40 28Z" fill="none" stroke="currentColor" stroke-width="3" stroke-linejoin="round"></path></svg></li>
          <li><button tabindex="-1" class="active" aria-label="tailwindcss button"><svg width="20" height="20" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 6V42H42" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path><path d="M14 34L22 18L32 27L42 6" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path></svg></button></li>
          <li><button tabindex="-1" aria-label="tailwindcss button"><svg width="20" height="20" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15 8C8.92487 8 4 12.9249 4 19C4 30 17 40 24 42.3262C31 40 44 30 44 19C44 12.9249 39.0751 8 33 8C29.2797 8 25.9907 9.8469 24 12.6738C22.0093 9.8469 18.7203 8 15 8Z" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path></svg></button></li>
          <li><button tabindex="-1" aria-label="tailwindcss button"><svg width="20" height="20" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 6H44V36H29L24 41L19 36H4V6Z" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path><path d="M23 21H25.0025" stroke="currentColor" stroke-width="3" stroke-linecap="round"></path><path d="M33.001 21H34.9999" stroke="currentColor" stroke-width="3" stroke-linecap="round"></path><path d="M13.001 21H14.9999" stroke="currentColor" stroke-width="3" stroke-linecap="round"></path></svg></button></li>
          <li><button tabindex="-1" aria-label="tailwindcss button"><svg width="20" height="20" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="24" cy="12" r="8" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></circle><path d="M42 44C42 34.0589 33.9411 26 24 26C14.0589 26 6 34.0589 6 44" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path></svg></button></li>
          <li><button tabindex="-1" aria-label="tailwindcss button"><svg width="20" height="20" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#icon-71)"><path d="M24 10L12 18L24 26L36 18L24 10Z" fill="none" stroke="currentColor" stroke-width="3" stroke-linejoin="round"></path><path d="M24 10L36 18L41 11L30 4L24 10Z" stroke="currentColor" stroke-width="3" stroke-linejoin="round"></path><path d="M24 10L12 18L7 11L18 4L24 10Z" stroke="currentColor" stroke-width="3" stroke-linejoin="round"></path><path d="M43 22L36 18L24 26L31 31L43 22Z" stroke="currentColor" stroke-width="3" stroke-linejoin="round"></path><path d="M5 22L12 18L24 26L17 31L5 22Z" stroke="currentColor" stroke-width="3" stroke-linejoin="round"></path><path d="M36 28V37L24 44L12 37V28" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path></g><defs><clipPath id="icon-71"><rect width="48" height="48" fill="currentColor"></rect></clipPath></defs></svg></button></li>
        </ul>
      </div>
      <div class="rounded-box bg-base-200 h-full w-60 shrink-0 motion-reduce:!opacity-100" style="opacity:1">
        <ul class="menu">
          <li class="menu-title">Admin panel</li>
          <li><button tabindex="-1" class="active"><svg width="20" height="20" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 6V42H42" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path><path d="M14 34L22 18L32 27L42 6" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path></svg> Dashboard</button></li>
          <li><button tabindex="-1" aria-label="tailwindcss button"><svg width="20" height="20" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15 8C8.92487 8 4 12.9249 4 19C4 30 17 40 24 42.3262C31 40 44 30 44 19C44 12.9249 39.0751 8 33 8C29.2797 8 25.9907 9.8469 24 12.6738C22.0093 9.8469 18.7203 8 15 8Z" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path></svg> Notifications</button></li>
          <li><button tabindex="-1" aria-label="tailwindcss button"><svg width="20" height="20" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 6H44V36H29L24 41L19 36H4V6Z" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path><path d="M23 21H25.0025" stroke="currentColor" stroke-width="3" stroke-linecap="round"></path><path d="M33.001 21H34.9999" stroke="currentColor" stroke-width="3" stroke-linecap="round"></path><path d="M13.001 21H14.9999" stroke="currentColor" stroke-width="3" stroke-linecap="round"></path></svg> Messages</button></li>
          <li><button tabindex="-1" aria-label="tailwindcss button"><svg width="20" height="20" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="24" cy="12" r="8" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></circle><path d="M42 44C42 34.0589 33.9411 26 24 26C14.0589 26 6 34.0589 6 44" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path></svg> People</button></li>
          <li><button tabindex="-1" aria-label="tailwindcss button"><svg width="20" height="20" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#icon-72)"><path d="M24 10L12 18L24 26L36 18L24 10Z" fill="none" stroke="currentColor" stroke-width="3" stroke-linejoin="round"></path><path d="M24 10L36 18L41 11L30 4L24 10Z" stroke="currentColor" stroke-width="3" stroke-linejoin="round"></path><path d="M24 10L12 18L7 11L18 4L24 10Z" stroke="currentColor" stroke-width="3" stroke-linejoin="round"></path><path d="M43 22L36 18L24 26L31 31L43 22Z" stroke="currentColor" stroke-width="3" stroke-linejoin="round"></path><path d="M5 22L12 18L24 26L17 31L5 22Z" stroke="currentColor" stroke-width="3" stroke-linejoin="round"></path><path d="M36 28V37L24 44L12 37V28" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path></g><defs><clipPath id="icon-72"><rect width="48" height="48" fill="currentColor"></rect></clipPath></defs></svg> Products <span class="badge badge-info">50</span></button></li>
        </ul>
      </div>
    </div>
    <div aria-hidden="true" class="rounded-box bg-base-200 grid grow grid-cols-2 gap-4 p-6 motion-reduce:!opacity-100" style="opacity:1"><button tabindex="-1" aria-label="tailwindcss button" class="btn btn-neutral">Neutral</button> <button tabindex="-1" aria-label="tailwindcss button" class="btn btn-primary">Primary</button> <button tabindex="-1" aria-label="tailwindcss button" class="btn btn-secondary">Secondary</button> <button tabindex="-1" aria-label="tailwindcss button" class="btn btn-accent">Accent</button> <button tabindex="-1" aria-label="tailwindcss button" class="btn btn-info">Info</button> <button tabindex="-1" aria-label="tailwindcss button" class="btn btn-success">Success</button> <button tabindex="-1" aria-label="tailwindcss button" class="btn btn-warning">Warning</button> <button tabindex="-1" aria-label="tailwindcss button" class="btn btn-error">Error</button></div>
  </div>
  <div class="flex grow flex-col gap-6">
    <div class="navbar bg-base-200 rounded-box hidden motion-reduce:!opacity-100 xl:flex" style="opacity:1">
      <div class="grow"><button tabindex="-1" class="btn btn-ghost btn-circle avatar" aria-label="tailwindcss avatar">
          <div class="w-10 rounded-full"><img width="40" height="40" src="https://i.pravatar.cc/500?img=<%=(1..70).to_a.sample%>" alt="Tailwind button" aria-label="Tailwind CSS button"></div>
        </button></div>
      <ul class="menu menu-sm menu-horizontal rounded-box">
        <li><button tabindex="-1"><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
            Inbox
            <span class="badge badge-sm">99+</span></button></li>
        <li><button tabindex="-1">Updates <span class="badge badge-sm badge-warning">NEW</span></button></li>
        <li><button tabindex="-1">Stats <span class="badge badge-xs badge-info"></span></button></li>
      </ul>
    </div>
    <div class="rounded-box flex grow flex-col px-6 pb-8 pt-12 text-center will-change-auto motion-reduce:!transform-none max-[1280px]:!transform-none" style="transform:scale(1)translateY(0%)">
      <div class="font-title text-[clamp(1.5rem,6vw,3rem)] font-black leading-none">Unlimited themes</div>
      <p class="font-title font-light md:text-3xl lg:text-4xl">with zero effort</p>
      <div class="h-4"></div>
      <p class="text-base-content/60 mx-auto max-w-lg font-sans text-sm font-light">daisyUI adds a set of customizable color names to Tailwind CSS and these new colors use CSS variables for the values. Using daisyUI color names, you get Dark Mode and even more themes without adding a new class name.</p>
      <div class="h-4"></div>
      <div><a class="btn btn-wide btn-primary" data-sveltekit-preload-data="" href="https://daisyui.com/docs/themes/" tabindex="-1">See all themes</a></div>
    </div>
    <div class="card bg-base-200 hidden motion-reduce:!opacity-100 xl:flex" style="opacity:1">
      <div class="card-body">
        <div class="flex h-full items-center justify-between gap-6"><input tabindex="-1" aria-label="tailwindcss toggle" checked="" type="checkbox" name="sample-checkbox" class="toggle pointer-events-none"> <input tabindex="-1" aria-label="tailwindcss toggle" checked="" type="checkbox" name="sample-checkbox" class="toggle toggle-primary pointer-events-none"> <input tabindex="-1" aria-label="tailwindcss toggle" checked="" type="checkbox" name="sample-checkbox" class="toggle toggle-secondary pointer-events-none"> <input tabindex="-1" aria-label="tailwindcss toggle" checked="" type="checkbox" name="sample-checkbox" class="toggle toggle-accent pointer-events-none"> <input tabindex="-1" aria-label="tailwindcss checkbox" checked="" type="checkbox" name="sample-checkbox" class="checkbox pointer-events-none"> <input tabindex="-1" aria-label="tailwindcss checkbox" checked="" type="checkbox" name="sample-checkbox" class="checkbox checkbox-primary pointer-events-none"> <input tabindex="-1" aria-label="tailwindcss checkbox" checked="" type="checkbox" name="sample-checkbox" class="checkbox checkbox-secondary pointer-events-none"> <input tabindex="-1" aria-label="tailwindcss checkbox" checked="" type="checkbox" name="sample-checkbox" class="checkbox checkbox-accent pointer-events-none"></div>
      </div>
    </div>
  </div>
  <div class="rounded-box bg-base-200 card hidden h-full w-80 shrink-0 motion-reduce:!opacity-100 xl:flex" style="opacity:1">
    <div class="card-body">
      <div class="card-title mb-4 text-sm">Semantic colors</div>
      <div class="grid grid-cols-4 gap-4">
        <div class="flex flex-col items-center gap-1">
          <div class="bg-primary rounded-btn aspect-square w-10"></div>
          <div class="text-base-content/60 text-center text-[.6rem]">primary</div>
        </div>
        <div class="flex flex-col items-center gap-1">
          <div class="bg-secondary rounded-btn aspect-square w-10"></div>
          <div class="text-base-content/60 text-center text-[.6rem]">secondary</div>
        </div>
        <div class="flex flex-col items-center gap-1">
          <div class="bg-accent rounded-btn aspect-square w-10"></div>
          <div class="text-base-content/60 text-center text-[.6rem]">accent</div>
        </div>
        <div class="flex flex-col items-center gap-1">
          <div class="bg-neutral rounded-btn aspect-square w-10"></div>
          <div class="text-base-content/60 text-center text-[.6rem]">neutral</div>
        </div>
        <div class="flex flex-col items-center gap-1">
          <div class="bg-primary-content rounded-btn aspect-square w-10"></div>
          <div class="text-base-content/60 text-center text-[.6rem]">primary content</div>
        </div>
        <div class="flex flex-col items-center gap-1">
          <div class="bg-secondary-content rounded-btn aspect-square w-10"></div>
          <div class="text-base-content/60 text-center text-[.6rem]">secondary content</div>
        </div>
        <div class="flex flex-col items-center gap-1">
          <div class="bg-accent-content rounded-btn aspect-square w-10"></div>
          <div class="text-base-content/60 text-center text-[.6rem]">accent content</div>
        </div>
        <div class="flex flex-col items-center gap-1">
          <div class="bg-neutral-content rounded-btn aspect-square w-10"></div>
          <div class="text-base-content/60 text-center text-[.6rem]">neutral content</div>
        </div>
        <div class="flex flex-col items-center gap-1">
          <div class="bg-base-100 rounded-btn aspect-square w-10"></div>
          <div class="text-base-content/60 text-center text-[.6rem]">base 100</div>
        </div>
        <div class="flex flex-col items-center gap-1">
          <div class="bg-base-200 rounded-btn aspect-square w-10"></div>
          <div class="text-base-content/60 text-center text-[.6rem]">base 200</div>
        </div>
        <div class="flex flex-col items-center gap-1">
          <div class="bg-base-300 rounded-btn aspect-square w-10"></div>
          <div class="text-base-content/60 text-center text-[.6rem]">base 300</div>
        </div>
        <div class="flex flex-col items-center gap-1">
          <div class="bg-base-content rounded-btn aspect-square w-10"></div>
          <div class="text-base-content/60 text-center text-[.6rem]">base content</div>
        </div>
        <div class="flex flex-col items-center gap-1">
          <div class="bg-info rounded-btn aspect-square w-10"></div>
          <div class="text-base-content/60 text-center text-[.6rem]">info</div>
        </div>
        <div class="flex flex-col items-center gap-1">
          <div class="bg-success rounded-btn aspect-square w-10"></div>
          <div class="text-base-content/60 text-center text-[.6rem]">success</div>
        </div>
        <div class="flex flex-col items-center gap-1">
          <div class="bg-warning rounded-btn aspect-square w-10"></div>
          <div class="text-base-content/60 text-center text-[.6rem]">warning</div>
        </div>
        <div class="flex flex-col items-center gap-1">
          <div class="bg-error rounded-btn aspect-square w-10"></div>
          <div class="text-base-content/60 text-center text-[.6rem]">error</div>
        </div>
        <div class="flex flex-col items-center gap-1">
          <div class="bg-info-content rounded-btn aspect-square w-10"></div>
          <div class="text-base-content/60 text-center text-[.6rem]">info content</div>
        </div>
        <div class="flex flex-col items-center gap-1">
          <div class="bg-success-content rounded-btn aspect-square w-10"></div>
          <div class="text-base-content/60 text-center text-[.6rem]">success content</div>
        </div>
        <div class="flex flex-col items-center gap-1">
          <div class="bg-warning-content rounded-btn aspect-square w-10"></div>
          <div class="text-base-content/60 text-center text-[.6rem]">warning content</div>
        </div>
        <div class="flex flex-col items-center gap-1">
          <div class="bg-error-content rounded-btn aspect-square w-10"></div>
          <div class="text-base-content/60 text-center text-[.6rem]">error content</div>
        </div>
      </div>
      <div class="mt-6"><a class="btn btn-block" data-sveltekit-preload-data="" href="/docs/colors/" tabindex="-1">Learn more about colors</a></div>
    </div>
  </div>
</div>

<div class="grid grid-cols-1 gap-6 lg:p-10 xl:grid-cols-3 bg-base-200 text-base-content p-3">
  <div class="card shadow-2xl lg:card-side bg-primary text-primary-content">
    <div class="card-body">
      <p>Rerum reiciendis beatae tenetur excepturi aut pariatur est eos.</p>
      <div class="justify-end card-actions">
        <button class="btn btn-primary">
          More info
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 ml-2 stroke-current">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="card shadow-2xl lg:card-side bg-secondary text-secondary-content">
    <div class="card-body">
      <div class="justify-end card-actions">
        <button class="btn btn-secondary btn-square">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <p>Rerum reiciendis beatae tenetur excepturi aut pariatur est eos.</p>
    </div>
  </div>
  <div class="card text-center shadow-2xl lg:card-side bg-accent text-accent-content">
    <div class="card-body">
      <p>Rerum reiciendis beatae tenetur excepturi aut pariatur est eos.</p>
      <div class="justify-center card-actions">
        <button class="btn btn-accent">Start now</button>
        <button class="btn btn-accent">More info</button>
      </div>
    </div>
  </div>
  <div class="card shadow-lg compact side bg-base-100">
    <div class="flex-row items-center space-x-4 card-body">
      <div>
        <div class="avatar">
          <div class="rounded-full w-14 h-14 shadow"><img src="https://i.pravatar.cc/500?img=32"></div>
        </div>
      </div>
      <div>
        <h2 class="card-title">Janis Johnson</h2>
        <p class="text-base-content text-opacity-40">Accounts Agent</p>
      </div>
    </div>
  </div>
  <div class="card shadow-lg compact side bg-base-100">
    <div class="flex-row items-center space-x-4 card-body">
      <div class="flex-1">
        <h2 class="card-title">Meredith Mayer</h2>
        <p class="text-base-content text-opacity-40">Data Liaison</p>
      </div>
      <div class="flex-0"><button class="btn btn-sm">Follow</button></div>
    </div>
  </div>
  <div class="card row-span-3 shadow-lg compact bg-base-100">
    <figure><img src="https://picsum.photos/id/1005/600/400"></figure>
    <div class="flex-row items-center space-x-4 card-body">
      <div>
        <h2 class="card-title">Karolann Collins</h2>
        <p class="text-base-content text-opacity-40">Direct Interactions Liaison</p>
      </div>
    </div>
  </div>
  <div class="card shadow-lg compact side bg-base-100">
    <div class="flex-row items-center space-x-4 card-body">
      <div class="flex-1">
        <h2 class="card-title text-primary">4,600</h2>
        <p class="text-base-content text-opacity-40">Page views</p>
      </div>
      <div class="flex space-x-2 flex-0">
        <button class="btn btn-sm btn-square">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"></path>
          </svg>
        </button>
        <button class="btn btn-sm btn-square">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="card shadow-lg compact side bg-base-100">
    <div class="flex-row items-center space-x-4 card-body">
      <label class="flex-0">
        <div><input type="checkbox" checked="checked" class="toggle toggle-primary"> <span class="toggle-mark"></span></div>
      </label>
      <div class="flex-1">
        <h2 class="card-title">Enable Notifications</h2>
        <p class="text-base-content text-opacity-40">To get latest updates</p>
      </div>
    </div>
  </div>
  <div class="card col-span-1 row-span-3 shadow-lg xl:col-span-2 bg-base-100">
    <div class="card-body">
      <h2 class="my-4 text-4xl font-bold card-title">Top 10 UI Components</h2>
      <div class="mb-4 space-x-2 card-actions">
        <div class="badge badge-ghost">Colors</div>
        <div class="badge badge-ghost">UI Design</div>
        <div class="badge badge-ghost">Creativity</div>
      </div>
      <p>Rerum reiciendis beatae tenetur excepturi aut pariatur est eos. Sit sit necessitatibus veritatis sed molestiae voluptates incidunt iure sapiente.</p>
      <div class="justify-end space-x-2 card-actions"><button class="btn btn-primary">Login</button> <button class="btn">Register</button></div>
      <div class="flex items-center space-x-8 flex-wrap">
        <div class="avatar">
          <div class="mb-8 w-24 h-24 mask mask-squircle"><img src="http://daisyui.com/tailwind-css-component-profile-1@94w.png"></div>
        </div>
        <div class="avatar">
          <div class="mb-8 w-24 h-24 mask mask-hexagon"><img src="http://daisyui.com/tailwind-css-component-profile-1@94w.png"></div>
        </div>
        <div class="avatar">
          <div class="mb-8 w-24 h-24 mask mask-decagon"><img src="http://daisyui.com/tailwind-css-component-profile-1@94w.png"></div>
        </div>
      </div>
      <div class="avatar-group -space-x-5">
        <div class="avatar">
          <div class="w-10 h-10">
            <img src="http://daisyui.com/tailwind-css-component-profile-1@40w.png">
          </div>
        </div>
        <div class="avatar">
          <div class="w-10 h-10">
            <img src="http://daisyui.com/tailwind-css-component-profile-2@40w.png">
          </div>
        </div>
        <div class="avatar">
          <div class="w-10 h-10">
            <img src="http://daisyui.com/tailwind-css-component-profile-3@40w.png">
          </div>
        </div>
        <div class="avatar">
          <div class="w-10 h-10">
            <img src="http://daisyui.com/tailwind-css-component-profile-5@40w.png">
          </div>
        </div>
        <div class="avatar placeholder">
          <div class="bg-neutral-focus text-neutral-content rounded-full w-10 h-10">
            <span>+99</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card shadow-lg compact side bg-base-100">
    <div class="flex-row items-center space-x-4 card-body">
      <div class="flex-1">
        <h2 class="flex card-title"><button class="btn btn-ghost btn-sm btn-circle loading"></button>
          Downloading...
        </h2>
        <progress value="70" max="100" class="progress progress-secondary"></progress>
      </div>
      <div class="flex-0">
        <button class="btn btn-circle">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="card shadow-lg compact side bg-base-100">
    <div class="flex-row items-center space-x-4 card-body">
      <label class="cursor-pointer label">
        <div checked="checked"><input type="checkbox" checked="checked" class="checkbox checkbox-accent"> <span class="checkbox-mark"></span></div>
        <span class="mx-4 label-text">Enable Autosave</span>
      </label>
    </div>
  </div>
  <ul class="menu row-span-4 p-4 shadow-lg bg-base-100 rounded-box">
    <li class="menu-title"><span>
        Menu Title
      </span>
    </li>
    <li>
      <a>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 mr-2 stroke-current">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"></path>
        </svg>
        Item with icon
      </a>
    </li>
    <li>
      <a>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 mr-2 stroke-current">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4"></path>
        </svg>
        Item with icon
      </a>
    </li>
    <li>
      <a>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 mr-2 stroke-current">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"></path>
        </svg>
        Item with icon
      </a>
    </li>
  </ul>
  <div class="alert col-span-1 xl:col-span-2 bg-base-100">
    <div class="flex-1"><label class="mx-3">Lorem ipsum dolor sit amet, consectetur adip!</label></div>
    <div class="flex-none"><button class="btn btn-sm btn-ghost mr-2">Cancel</button> <button class="btn btn-sm btn-primary">Apply</button></div>
  </div>
  <div class="alert col-span-1 xl:col-span-2 alert-info">
    <div class="flex-1">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="w-6 h-6 mx-2 stroke-current">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
      </svg>
      <label>Lorem ipsum dolor sit amet, consectetur adip!</label>
    </div>
  </div>
  <div class="alert col-span-1 xl:col-span-2 alert-success">
    <div class="flex-1">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="w-6 h-6 mx-2 stroke-current">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"></path>
      </svg>
      <label>Lorem ipsum dolor sit amet, consectetur adip!</label>
    </div>
  </div>
  <div class="alert col-span-1 xl:col-span-2 alert-error">
    <div class="flex-1">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="w-6 h-6 mx-2 stroke-current">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18.364 18.364A9 9 0 005.636 5.636m12.728 12.728A9 9 0 015.636 5.636m12.728 12.728L5.636 5.636"></path>
      </svg>
      <label>Lorem ipsum dolor sit amet, consectetur adip!</label>
    </div>
  </div>
</div>
<!-- mockup -->
