<div class="drawer-side z-40">
  <label for="my-drawer" class="drawer-overlay"></label>
  <ul class="menu p-4 w-80 h-full bg-base-200 text-base-content">
    <!-- Sidebar content here -->
    <li><a href="https://daisyui.com/" target="_blank" class=""> About </a> </li>
    <li><a href="https://github.com/mkhairi/rails-daisyui-starter" target="_blank" class=""> Source </a></li>
  </ul>
</div>
